.Button {
  @extend .button;
  background-color: transparent;
  margin-left: 0.5rem;
  margin-right: 0.5rem;

  &:hover {
    background-color: transparent;
  }

  &--primary {
    border-radius: 0.2rem;
    background-color: $turquoise;

    &:hover {
      background-color: lighten($turquoise, 10%);
    }
  }

  &--rounded {
    border-radius: 1.2rem;
    padding: .5rem 1rem;
  }

  &--bordered {
    border: 1px solid #fff;
  }
}
