.Cards {
  &__card {
    position: relative;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 4rem;

    &:hover {
      .Cards__card-tooltip {
        display: block;
      }
    }

    h5 {
      font-size: 1rem;
      font-weight: 500;
      margin-bottom: 0.5rem;
    }

    small {
      font-size: 70%;
    }

    .progress {
      background-color: #fff;
      border: 1px solid #cacaca;
      border-radius: 1rem;
      overflow: hidden;
      height: .5rem;
    }

    &-button {
      color: #fff;
      font-size: 0.9rem;
      font-weight: bold;
      transition: background-color .3s ease;

      .card-divider {
        padding-top: 0.6rem;
        padding-bottom: 0.6rem;
      }

      &:hover {
        background-color: lighten($turquoise, 10%);
      }
    }

    &-tooltip {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(0, -50%);
      z-index: 1;
      background-color: #fff;
      padding: 1rem 1.5rem;
      border-radius: 0.4rem;
      box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.4);
      display: none;

      h5, p {
        margin-bottom: 0;
      }
    }
  }

  &__pagination {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: -2rem;
  }
}
