.Footer {
  background-color: $dark-blue;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 4rem;

  a {
    color: #fff;
    font-weight: 500;
  }

  p {
    color: #fff;
    font-size: 0.8rem;
    margin-top: 1rem;
    margin-bottom: 0;
  }

  small {
    padding-left: 0.7rem;

    a {
      font-size: 0.8rem;
      padding: 0.5rem 0.3rem;
    }
  }

  &__country-select {
    margin-top: .5rem;
    padding-left: 1rem;
    font-size: 0.9rem;
    color: #fff;
  }
}
