.Heading {
  padding-top: 1.2rem;
  padding-bottom: 0.6rem;
  color: #fff;
  margin-bottom: 4rem;

  &--turquoise {
    background-color: $turquoise;
  }

  h1 {
    font-size: 2.4rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}
