.Nav {
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: $dark-blue;

  @media (max-width: 1100px) {
    flex-direction: column;
    align-items: flex-end;
  }

  a {
    color: #fff;
    padding: 1.1rem 0.7rem;
  }

  .Button--pro {
    padding-top: 0.637rem;
    padding-bottom: 0.637rem;
  }

  &--open {
    .Nav {
      &__item {
        @media (max-width: 1100px) {
          display: block;
        }
      }

      &__mobile-toggle {
        div {
          opacity: 0;

          &:first-child, &:last-child {
            opacity: 1;
          }

          &:first-child {
            bottom: 0;
            transform: rotate(-45deg);
          }

          &:last-child {
            top: 0;
            transform: rotate(45deg);
          }
        }
      }
    }
  }

  &__item {
    @media (max-width: 1100px) {
      display: none;
      width: 100%;
      flex-direction: column;
      align-items: flex-end;

      .Button {
        margin-bottom: 1rem;

        &--pro {
          margin-bottom: 0;
        }
      }
    }
  }

  &__mobile-toggle {
    display: none;
    width: 24px;
    height: 16px;
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;

    div {
      transition: all .3s ease;
      width: 100%;
      height: 2px;
      background-color: #fff;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto 0;

      &:first-child {
        bottom: auto;;
      }

      &:last-child {
        top: auto;
      }
    }

    @media (max-width: 1100px) {
      display: block;
    }
  }
}
