.heading {
  &-title {
    margin-top: 1rem;
    margin-bottom: 1rem;

    h6 {
      font-weight: bold;
      margin: 0;
    }
  }
}

.grid {
  &-container {
    max-width: 82rem;
  }
}

.panel {
  &-left {
    padding-right: 1rem;
  }
}

select {
  border-radius: 0.2rem;
}
