.img {
  &-rounded {
    border-radius: 50%;
  }
}

.text {
  &-turquoise {
    color: $turquoise;
  }

  &-gray {
    color: $gray;
  }
}

.background {
  &-turquoise {
    background-color: $turquoise;
  }
}

.card {
  &-rounded {
    border-radius: 0.4rem;
    box-shadow: 0 0.15rem 0.2rem rgba(0, 0, 0, 0.4);
    border: none;
  }
}
